<div class = "container">
  <div id="welcome">
    <% if @projects.length > 0 %>
      <% @projects.each_with_index do |project, index| %>
        <div class="project_box_welcome" id="project_box_<%= index + 1 %>" >
          <%= link_to project_path(@projects[index]) do %>
            <% if @projects[index].category.name == 'Story' %>
              <i class="fa fa-book">
              <% elsif @projects[index].category.name == 'Poem' %>
                <i class="fa fa-bars">
                <% elsif @projects[index].category.name == 'Song' %>
                  <i class="fa fa-music">
                  <% end %>
                  <span class="project_name"><p><%= @projects[index].name %></span><br><br>
                    <span class="project_initiator">Initiated by:
                      <%= @projects[index].initiator.name %></p></span></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
