<%= javascript_include_tag "tree" %>
<%= content_tag :div, class: "tree_data", data: {data: @tree_data}  do%>
<% end %>
<div class="container clearfix">
  <div class="tree_text half">
  </div>
  <div class="tree half">
  </div>
</div>
