<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<%= content_tag :div, class: "tree_data", data: {data: @tree_data}  do%>
<% end %>
<div class="container clearfix">
  <div class="tree_text half">
  </div>
  <div class="tree half">
  </div>
</div>
