@import "variables";
@import "mixins";

.form-container {
  max-width: 320px;
  width: 100%;
  text-align: center;
  margin: 4em auto 0 auto;
  background-color: #fff;
  border: $border-standard;
  border-radius: $border-radius;
  padding: 1em;
  &.wide {
    max-width: 600px;
  }
  input {
    display: block;
    width: 100%;
    margin-top: 0.4em;
    height: 2.5em;
    width: 100%;
    padding: 0.4em;
    &[type=submit] {
      background: $black;
      color: $white;
      border: 0;
      margin-bottom: 2em;
      &:hover {
        @include transition(0.5s);
        background: $accent;
      }
    }
  }
  select {
    border-radius: 0;
    height: 2.5em;
    width: 100%;
    border-color: $light-grey;
    background-color: #fff;
    option {
      color: $light-grey;
    }
  }
}

.register-link {
  margin-top: 1em;
  display: block;
  text-decoration: none;
  color: $black;
  &:hover {
    @include transition(0.5s);
    color: $accent;
  }
}
