@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em;
}

.clearfix {
  &:after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
  }
}

.box {
  margin: 1em auto 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 1px $black;
  background-color: $white;
}

