@import "variables";
@import "mixins";

header {
  background-color: #fff;
  border-bottom: 3px solid $black;
  border-top: 3px solid $black;
  margin: 2em 0;
  height: 80px;
  font-size: 1.1em;
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      @include transition(0.5s);
      color: $accent;
    }
  }
  nav {
    display: inline-block;
  }
  ul {
    padding-left: 0;
    list-style: none;
    display: inline-block;
    margin: 0.75em 0;
    li {
      margin-left: 2em;
      display: inline-block;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .container {
    height: 100%;
  }
}

.menu-container {
  position: relative;
  height: 100%;
  margin-left: 125px;
}

#pages-nav {
  float: left;
  margin-left: 2em;
  margin-top: 0.5em;
  #write-link {
    .fa-pencil-square-o {
      display: none;
      font-size: 1.5em;
      margin-top: 0.1em;
      @media all and (max-width: $breakpoint-max) {
        display: inline-block;
      }
    }
    .nav-text {
      @media all and (max-width: $breakpoint-max) {
        display: none;
      }
    }
  }
  #collaborate-link, #explore-link {
    @media all and (max-width: $breakpoint-max) {
      display: none;
    }
  }
}

#session-nav {
  float: right;
  margin-right: 1em;
  margin-top: 0.6em;
  @media all and (max-width: $breakpoint-max) {
    margin-right: 0;
  }
  ul {
    li {
      margin-left: 1em;
    }
  }
  .fa {
    font-size: 1.6em;
    margin-top: -0.1em;
  }
}

#logo {
  width: 125px;
  height: 125px;
  margin-top: -35px;
  border-radius: 150px;
  background-color: #fff;
  background-image: image-url("logo.png");
  background-size: 120px 120px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  h1 {
    display: none;
  }
}

//Search Forms

#search {
  float: right;
  height: 2em;
  margin-top: 0.5em;
  font-size: 1.3em;
  @media all and (max-width: $breakpoint-max) {
    display: none;
  }
  .search-button {
    width: 20px;
    display: inline-block;
    color: $black;
    margin-top: 0.3em;
    font-size: 1.2em;
    cursor: pointer;
    &:hover {
      @include transition(0.5s);
      color: $accent;
    }
  }
}

#search-form {
  display: none;
  input {
    outline: none;
    border: 0;
    position: absolute;
    left: 5px;
    top: 0;
    display: inline-block;
    height: 74px;
    width: 70%;
  }
}