@import "variables";

.profile {
  width: 65%;
  margin: 0 auto;

  ul.tabs{
    margin:0;
    padding:0;
    list-style: none;
  }

  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-family: $font-family-cursive;
    width: 32.71%;
  }

  ul.tabs li.current {
    background: #ededed;
    color: #222;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;

  }

  .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
    text-align: center;
  }

  .tab-content.current {
    display:inherit;
    list-style: none;
    line-height: 1.5rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
  }

  h3 {
    font-family: $font-family-serif;
  }

  span {
    line-height: 2rem;
  }

  .tabs li p {
    line-height: 0;
    font-size: 0.85rem;
    text-align: center;
  }
}

@media (max-width: 1080px){
  .profile {
    width:80%;
  }
}

@media (max-width: 720px){
  .profile {
    ul.tabs li {
        width: 32.18%;
    }

    .tabs li p  {
      font-size: 0.5rem;
    }
  }
}

@media (max-width: 400px){
  .profile{
    width: 90%;

    ul.tabs li {
      width: 32.18%;
    }

    .tabs li p  {
      font-size: 0.5rem;
    }
  }
}


