//Color Scheme
$black: #222;
$dark-grey: lighten( $black, 20% );
$grey: lighten( $black, 40% );
$light-grey: lighten( $black, 60% );
$white: #f7f7f7;
$accent: #4682B4;

//Typography
$font-family-serif: 'PT Serif', Garamond, 'Times New Roman', serif;
$font-family-sasn-serif: 'Helventica Neue', Helvetica, Arial, sans-serif;
$font-family-cursive: 'Petit Formal Script', cursive;
$font-family-icon: FontAwesome;

//Layout
$border-radius: 5px;
$border-standard: 2px solid $light-grey;

//Media Queries
$breakpoint-min: 650px; 
$breakpoint-max: $breakpoint-min - 1; 
