//Color Scheme
$black: #222;
$grey: #666;
$white: #f7f7f7;
$accent: tomato;

//Typography
$font-family-serif: 'PT Serif', Garamond, 'Times New Roman', serif;
$font-family-cursive: 'Petit Formal Script', cursive;
$font-family-icon: FontAwesome;
