@import "variables";
@import "mixins";

/*#version_children  {
  display: none;
  background-color: yellow;
  margin-left: 50px;
  display: inline;
}*/

#branch_text {
  width: 80%;
  margin: 0 auto;
  font-family: $font-family-serif;
  font-size: 1.2em;
  line-height: 1.1em;
  background-color: #fff;
  border: $border-standard;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 1em;
}

.byline {
  margin: 0.5em 0 1em 0;
  text-align: center;
  .byline-label {

  }
  .byline-name {

  }
  .byline-date {

  }
}

.controls {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
  border: $border-standard;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 0;
  a {
    display: block;
    padding: 0.3em;
    i {
      float: left;
      font-size: 0.7em;
      margin-top: 0.3em;
      margin-right: 0.5em;
    }
  }
}

.back-links {
  display: inline-block;
  float: left;
}

.vote-container {
  display: inline-block;
  height: 100%;
  float: right;
  .score {
    text-align: center;
    &.padded {
      padding-top: 1em;
    }
  }
}

.new_vote {
  button {
    background-color: transparent;
    border: 0;
    color: $black;
    &:hover {
      @include transition(0.5s);
      color: $accent;
    }
  }
}

#children_container {
  display: none;
}

div#children {
  display: inline;
  margin-left: 15px;
}

#collapse_branch {
  display: none;
}

.hidden {
  display: none;
}

input#add_contribution {
  margin: 0;
  display: block;
  border: none;
  width: 100%;
}
