<div class = "container">
  <h2><%= @version.project.name %></h2>

      <%=  @version.ancestors_text.join(" ")%>
      <% @version.children.each do |child| %>
        <%= link_to "#{child.contribution}", project_version_path(child.project, child) %>
      <% end %>

    <%= render 'form' %>
</div>
