<div class = "container">
  <h2><%= @version.project.name %></h2>
      <%  @version.text_before.each do |contribution| %>
        <%= contribution %><br>
      <% end %>

  <p class="New_Contribution"><%=  @version.contribution%></p>
</div>
